body {
  background-color: #597081;
}

.hidden {
  display: none;
}

.navbar {
  background-color: #485b6a;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  display: inline;
  margin: 0 15px;
}
